extends ../layouts/default

block intro
  h3 About Us

block content
  p.text-justify We are a UK based Industrial Processes Control and Engineering supplies company. Given that industrial equipment can have a long shelf life, whilst some internal components do not, spare parts are an integral part of the production cycle. Our aim is to make the process of spares acquisition as painless and stress free as possible. Our Spares management Platform allows customers to search for spare parts using part numbers, manufacturers and categories. By registering on our platform, customers can make enquiries and track orders all online. We are able to obtain and supply high quality products at very competitive prices for our customers by leveraging on excellent relationships with manufacturers and partners in the market. Our business model is based on Honesty, Sincerity, Integrity, Flexibility, Reliability and Credibility.
  p.text-justify Let us do the leg work so that you can concentrate on the core business of production. There is no reason why you should stop production, register with us now and start tracking your orders right up to your door step.
  br
  h4 Express delivery
  p.text-justify We offer a fast, cost-effective worldwide delivery service for your order. Our aim is to ship your order in the shortest possible time in order to minimize down time.
  br
  h4 Quality Assurance
  p.text-justify Our parts are sourced from leading and reputable manufactures. You can be sure that you are getting genuine parts.
