extends ../layouts/default

block intro
  h1.text-center Our aim is to always find the solution you need to get your machine back up and running as quickly as possible.
  div.slick
    div: img(src='/images/banner/banner-01.jpg')
    div: img(src='/images/banner/banner-02.jpg')
    div: img(src='/images/banner/banner-03.jpg')
    div: img(src='/images/banner/banner-04.jpg')
    div: img(src='/images/banner/banner-05.jpg')
    div: img(src='/images/banner/banner-06.jpg')
    div: img(src='/images/banner/banner-07.jpg')
    div: img(src='/images/banner/banner-08.jpg')
    div: img(src='/images/banner/banner-09.jpg')
    div: img(src='/images/banner/banner-10.jpg')
    div: img(src='/images/banner/banner-11.jpg')
    div: img(src='/images/banner/banner-12.jpg')

block js
  script(src='/js/industrial/lib/slick-1.6.0.min.js')
  script(src='/js/industrial/scripts/index.js')