extends ../layouts/default

block intro
  p: a(href='/manufacturers') &larr; back to the Manufacturers
  hr
  if !data
    h3.text-danger Invalid Manufacturer
  else
    h3= data.name
    if !data.content
      span No description available
    else
      div!= data.content