extends ../layouts/default

block intro
  h3 Manufacturers
  .row.icpe_list
    if !data
      .col-md-6 No Manufacturer found
    else
      each row in data
        .col-md-6: a.icpe_list_anchor(href='/manufacturers/' + row.slug)= row.name