extends ../layouts/default

block intro
  h3 Payment Methods &amp; Credit Accounts
  p.text-justify We offer various payment methods to make your purchase as easy as possible. We accept payment in Pound Sterling (GBP), Euro (Eur) and US Dollar (USD). Currencies are based on todays exchange rate and are therefore subject to change before the payment has been received.
  br
  h4 Credit and Debit Card
  p.text-justify We accept most of the major credit and debit cards including Visa, MasterCard and American Express. There is an additional 3% surcharge is applied for credit card payments however, there is no surcharge for payment by debit card.
  br
  h4 Bank/Wire Transfer
  p.text-justify To pay for your purchase using Bank/Wire Transfer simply instruct your bank to send the amount as shown on our Quotation Invoice. Our bank details are available on request by emailing <a href="accounts@industrialprocessescontrol.co.uk">accounts@industrialprocessescontrol.co.uk</a>. Please ensure that you send your Order or Vendor number with your payment.
  br
  h4 Paypal
  p.text-justify To pay by PayPal, please make payment to the following email address <a href="accounts@industrialprocessescontrol.co.uk">accounts@industrialprocessescontrol.co.uk</a>. Please note that an additional 3% surcharge is applied for paypal payments.
  br
  h4 Cheques
  p.text-justify All cheques should be made payable to Industrial Processes Control and Engineering Ltd.
  br
  h4 Credit Accounts
  p.text-justify We understand that credit is a necessary part of business and offer credit agreements (which are payable within 30 days from date of invoice) on request, subject to status. Credit application forms are available on request by email from <a href="accounts@industrialprocessescontrol.co.uk">accounts@industrialprocessescontrol.co.uk</a>.
  br
  img(src='/images/page-payment-cards.jpg')