extends ../layouts/default

block intro
	h3 Customer Service
	ul
		li: a(href='/service/payments') Payment Methods &amp; Credit Accounts
		li: a(href='/service/shipping') Shipping
		li: a(href='/service/warranty') Warranty and Return Policy
