extends ../layouts/default

block intro
  h3 Shipping
  p.text-justify Satisfactory delivery is a crucial part of the service offered by Industrial processes Control & Engineering Limited (IPCE), and we aim to provide an efficient, professional and punctual delivery schedule for all our products. Our preferred logistics partner is UPS, though we may sometimes use alternative carriers for operational reasons. There are various shipping options available to each country and these will be indicated on all quotations. We will notify you by e-mail when your order is dispatched; this e-mail will include your order consignment number, carrier contact details and a tracking number with a link to their website.
  br
  h4 Own Shipping
  p.text-justify Customers can arrange their own shipping, there may be a charge for packing and handling. Please contact our sales team, if you wish to use your own shipping company and forward your account details and the service level you require and we will do the rest.
  br
  h4 Delivery Schedule
  p.text-justify We offer a fast, cost-effective worldwide delivery service for your order. Our aim is to ship your order in the shortest possible time in order to minimize down time. Please note that we cannot be held responsible for any orders delayed in the carrier service as this is simply beyond our control. All orders need to be signed for on receipt. Deliveries are sometimes sent directly from the manufacturer within and outside of the UK.
