extends ../layouts/default

block intro
	h3 Terms and Conditions

block content
	h4.text-uppercase Background
	p.text-justify This agreement applies as between you, the User of this Web Site and <strong>Industrial processes Control &amp; Engineering Ltd</strong>, the owner(s) of this Web Site.  Your agreement to comply with and be bound by these terms and conditions is deemed to occur upon your first use of the Web Site. If you do not agree to be bound by these terms and conditions, you should stop using the Web Site immediately.
	ol.icpe_terms
		//- 1
		li
			strong Definitions and Interpretation
			p In this Agreement the following terms shall have the following meanings:
			table.table.table-bordered
				tr
					td(width="20%"): strong &ldquo;Content&rdquo;
					td: p.text-justify means any text, graphics, images, audio, video, software, data compilations and any other form of information capable of being stored in a computer that appears on or forms part of this Web Site;
				tr
					td: strong &ldquo;IPCE&rdquo;
					td: p.text-justify means Industrial processes Control &amp; Engineering 31 Bemrose road, Allenton, Derby, DE24 8LP;
				tr
					td: strong &ldquo;System&rdquo;
					td: p.text-justify means any online communications infrastructure that <strong>Industrial processes Control &amp; Engineering Ltd</strong> makes available through the Web Site either now or in the future.  This includes, but is not limited to, web-based email, message boards, live chat facilities and email links;
				tr
					td: strong &ldquo;User&rdquo; / &ldquo;Users&rdquo;
					td: p.text-justify means any third party that accesses the Web Site and is not employed by <strong>Industrial processes Control &amp; Engineering Ltd</strong> and acting in the course of their employment; and
				tr
					td: strong &ldquo;Web Site&rdquo;
					td: p.text-justify means the website that you are currently using (www.industrialprocessescontrol.co.uk) and any sub-domains of this site (e.g. subdomain. www.industrialprocessescontrol.org) unless expressly excluded by their own terms and conditions.

		//- 2
		li
			strong Intellectual Property
			ol
				li: p.text-justify All Content included on the Web Site, unless uploaded by Users, including, but not limited to, text, graphics, logos, icons, images, sound clips, video clips, data compilations, page layout, underlying code and software is the property of <strong>Industrial processes Control &amp; Engineering Ltd</strong>, our affiliates or other relevant third parties.  By continuing to use the Web Site you acknowledge that such material is protected by applicable United Kingdom and International intellectual property and other relevant laws.
				li: p.text-justify Subject to sub-clause 2.3 you may not reproduce, copy, distribute, store or in any other fashion re-use material from the Web Site unless otherwise indicated on the Web Site or unless given express written permission to do so by <strong>Industrial processes Control &amp; Engineering Ltd</strong>.
				li: p.text-justify Material from the Web Site may be re-used without written permission where any of the exceptions detailed in Chapter III of the Copyright Designs and Patents Act 1988 apply.

		//- 3
		li
			strong Links to Other Web Sites
			p.text-justify This Web Site may contain links to other sites.  Unless expressly stated, these sites are not under the control of <strong>Industrial processes Control &amp; Engineering Ltd</strong> or that of our affiliates.  We assume no responsibility for the content of such web sites and disclaim liability for any and all forms of loss or damage arising out of the use of them.  The inclusion of a link to another site on this Web Site does not imply any endorsement of the sites themselves or of those in control of them.

		//- 4
		li
			strong Links to this Web Site
			p.text-justify Those wishing to place a link to this Web Site on other sites may do so only to the home page of the site <a href="http://www.industrialprocessescontrol.co.uk" target="_blank">www.industrialprocessescontrol.co.uk</a> without prior permission.  Deep linking (i.e. links to specific pages within the site) requires the express permission of <strong>Industrial processes Control &amp; Engineering Ltd</strong>.  To find out more please contact us by email at <a href="mailto:sales@industrialprocessescontrol.co.uk">sales@industrialprocessescontrol.co.uk</a> or calling 00447872925763.

		//- 5
		li
			strong Privacy
			p.text-justify Use of the Web Site is also governed by our <a href="/policy" target="_blank">Privacy Policy</a> which is incorporated into these terms and conditions by this reference.  To view the Privacy Policy, please click on the link above.

		//- 6
		li
			strong Disclaimers
			ol
				li: p.text-justify <strong>Industrial processes Control &amp; Engineering Ltd</strong> makes no warranty or representation that the Web Site will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, that it will be compatible with all systems, that it will be secure and that all information provided will be accurate. We make no guarantee of any specific results from the use of our Service.
				li: p.text-justify No part of this Web Site is intended to constitute advice and the Content of this Web Site should not be relied upon when making any decisions or taking any action of any kind.

		//- 7
		li
			strong Availability of the Web Site
			p.text-justify The Service is provided &ldquo;as is&rdquo; and on an &ldquo;as available&rdquo; basis.  We give no warranty that the Service will be free of defects and / or faults.  To the maximum extent permitted by the law we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality. <strong>Industrial processes Control &amp; Engineering Ltd</strong> accepts no liability for any disruption or non-availability of the Web Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, power failure, natural events, acts of war or legal restrictions and censorship.

		//- 8
		li
			strong Limitation of Liability
			ol
				li: p.text-justify To the maximum extent permitted by law, <strong>Industrial processes Control &amp; Engineering Ltd</strong> accepts no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the use of the Web Site or any information contained therein. Users should be aware that they use the Web Site and its Content at their own risk.
				li: p.text-justify Nothing in these terms and conditions excludes or restricts <strong>Industrial processes Control &amp; Engineering Ltd</strong>’s liability for death or personal injury resulting from any negligence or fraud on the part of <strong>Industrial processes Control &amp; Engineering Ltd</strong>.
				li: p.text-justify Every effort has been made to ensure that these terms and conditions adhere strictly with the relevant provisions of the Unfair Contract Terms Act 1977.  However, in the event that any of these terms are found to be unlawful, invalid or otherwise unenforceable, that term is to be deemed severed from these terms and conditions and shall not affect the validity and enforceability of the remaining terms and conditions.  This term shall apply only within jurisdictions where a particular term is illegal.

		//- 9
		li
			strong No Waiver
			p.text-justify In the event that any party to these Terms and Conditions fails to exercise any right or remedy contained herein, this shall not be construed as a waiver of that right or remedy.

		//- 10
		li
			strong Previous Terms and Conditions
			p.text-justify In the event of any conflict between these Terms and Conditions and any prior versions thereof, the provisions of these Terms and Conditions shall prevail unless it is expressly stated otherwise.

		//- 11
		li
			strong Notices
			p.text-justify All notices / communications shall be given to us either by post to our Premises (see address above) or by email to <a href="mailto:sales@industrialprocessescontrol.co.uk">sales@industrialprocessescontrol.co.uk</a>.  Such notice will be deemed received 3 days after posting if sent by first class post, the day of sending if the email is received in full on a business day and on the next business day if the email is sent on a weekend or public holiday.

		//- 12
		li
			strong Law and Jurisdiction
			p.text-justify These terms and conditions and the relationship between you and <strong>Industrial processes Control &amp; Engineering Ltd</strong> shall be governed by and construed in accordance with the Law of England and Wales and <strong>Industrial processes Control &amp; Engineering Ltd</strong> and you agree to submit to the exclusive jurisdiction of the Courts of England and Wales.
