extends ../layouts/default

block intro
  p: a(href='/service') &larr; back to the Customer Service
  hr
  h3 Warranty and Return Policy
  h4 Warranty
  p.text-justify All products supplied by us come with a full 12 months return to base warranty on all reconditioned and new parts. New parts may also be covered by a manufacturer’s warranty. The warranty commences from the date of shipment. If the item fails within 12 months from the date of delivery, contact us before shipping it back to receive an RMA form. Please ensure all items are packaged securely to avoid further damage in transit. Warranty items will be repaired for free and returned to the customer. If the item is beyond economic repair, we will provide a like-for-like replacement or offer an equivalent item. If this is not possible, we will refund the original amount to the customer.
  br
  h4 Product Condition
  p.text-justify At IPCE we sell NEW and RECONDITIONED industrial automation parts. This can help customers keep costs down by choosing to replace obsolete parts with reconditioned items. Product conditions are defined as shown below;
  p.text-justify <strong>New -</strong> Parts are supplied in their original packaging and include all accessories originally packaged with the part. These parts have never been used however the original seals might have been broken.
  p.text-justify <strong>Reconditioned -</strong> Reconditioned items have been serviced and tested to ensure reliability and come with a full 12 month warranty. These items are fully functional but may have cosmetic imperfections and do not always come with accessories and manuals.
  br
  h4 Damaged goods
  p.text-justify In the unlikely event that your item arrives and the packaging looks damaged, please acknowledge this when you sign for the item. This makes it easier to hold the shipping company responsible. We will then get the item back from you, and our standard warranty terms will apply.