html, body {
	height: 100%;
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;

	& > li {
		display: table;
		counter-increment: item;
		margin-bottom: 0.6em;

		&:before {
			content: counters(item, ".1.") ". ";
			display: table-cell;
			padding-right: 0.6em;
		}

		ol > li {
			margin: 0;

			&:before {
				content: counters(item, ".1.") " ";
			}
		}
	}
}

ol.icpe_disclaimer {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;

	& > li {
		display: table;
		counter-increment: item;
		margin-bottom: 0.6em;

		&:before {
			content: "1.1." counter(item) " ";
			display: table-cell;
			padding-right: 0.6em;
		}
	}
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -90px;
}

#header {
	margin-top: 10px;
}

#footer {
	background: #fff;
	border-top: 1px solid #eee;
	margin-top: 30px;
	padding: 15px 0;

	ul.list-inline {
		margin-bottom: 0;
	}
}

#push {
    height: 90px;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

// Custom
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face('Righteous', '../fonts/Righteous', null, null, ttf);

.ipce_top_header {
	.icpe_logo {
		height: 60px;

		@media (min-width: $screen-sm) {
			height: 96px;
		}

		@media (min-width: $screen-md) {
			height: 124px;
		}

		@media (min-width: $screen-lg) {
			height: 150px;
		}
	}

	.ipce_banner {
		font-family: 'Righteous';
		font-size: 8px;
		color: #dc1433;
		width: 60%;
		margin: 0 auto;
		margin-top: 28px;

		@media (min-width: $screen-sm) {
			font-size: 13px;
			margin-top: 45px;
		}

		@media (min-width: $screen-md) {
			font-size: 16px;
			margin-top: 58px;
		}

		@media (min-width: $screen-lg) {
			font-size: 20px;
			margin-top: 70px;
		}
	}

	.ipce_banner_number {
		@media (min-width: $screen-md) {
			font-size: 13px;
			margin-top: 58px;
		}

		@media (min-width: $screen-lg) {
			font-size: 16px;
			margin-top: 70px;
		}
	}
}

.ipce_content {
	min-height: 500px;
}

.ipce_content_footer {
	font-size: 0.85em;
}

ul.ipce_footer {
	text-align: justify;
	width: 100%;

	&:after {
		content: '';
    display: inline-block;
    width: 100%;
	}

	li {
		display: inline-block;

		a {
			font-weight: bold;
			font-size: 0.85em;
			color: #333;
		}
	}
}